@model JourneyPlannerDemo.Models.JourneyPlanner

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p>Welcome to the <a href="http://networkwestmidlands.com">Network West Midlands</a> Journey Planner. This application is currently under development </p>

<p>@Html.ActionLink("Plan a Journey", "Index", "JourneyPlanner")</p>

<p>We value your feedback - please forward comments and suggestions to the <a href="mailto:systemsdevelopment@centro.org.uk">Dev Team</a>.</p>